* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5px;
    border: 2px red solid;
}

header {
    border: 2px blue solid;
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

    


nav {
    border: 2px blueviolet solid;
    margin: 5px;
    display: flex;
}

main {
    border: 2px green solid;
    margin: 5px;
    font-size: 25px;
    margin-top: 232px;
}

 footer {
    border: 2px black solid;
    margin: 5px;
    text-align: center;
    
} 


#header_link_elements{
    display: flex;
    gap: 20px;
    width: 100%;
    margin:0px;
}

.header_anchor_elements{
    width: 100%;
    border: 2px lightcoral solid;
    list-style-type: none;
    padding-top: 65px;
}

#image_logobar {
    width: 100%;
    height: 100%;
    
}

.header_anchor_elements a {
    text-decoration: none;
}

/* footer div {
    display: flex;
} */

.footer_anchor_icons {
    display: flex;
}

#footer_navbar {
    display: flex;
    justify-content: flex-end;
}

#footer_navbar a {
    margin-right: 20px;
    
}

/* Estilo del menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    padding: 10px;
}

/* Mostrar el menú desplegable al pasar el mouse sobre el enlace "Menu" */
#menu-dropdown:hover .dropdown-menu {
    display: block;
}

.banner_drinks_image{
    background-image: url(../imagenes/menuBackgroundImage.jpg);
    height: 480px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

.banner_drinks {
    display: flex;
    flex-wrap: wrap;
}

.banners{
    font-size: 22px;
    display: flex;
    flex: auto;
    min-height: 500px;
    align-items: center;
    width: 45%;
    flex-direction: column;
    justify-content: center;
}