body {
    margin: 5px;
    border: 2px red solid;
}

header {
    border: 2px blue solid;
    margin: 5px;
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    text-align: center;
    
}

nav {
    border: 2px blueviolet solid;
    margin: 5px;
    display: flex;
}

main {
    border: 2px green solid;
    margin: 5px;
}

 footer {
    border: 2px black solid;
    margin: 5px;
    text-align: center;
    
} 


#header_link_elements{
    display: flex;
    gap: 20px;
    width: 100%;
    margin:0px;
}

.header_anchor_elements{
    width: 100%;
    border: 2px lightcoral solid;
    list-style-type: none;
    padding-top: 65px;
}

#image_logobar {
    width: 100%;
    height: 80%;
    
}

.header_anchor_elements a {
    text-decoration: none;
}

/* footer div {
    display: flex;
} */

.footer_anchor_icons {
    display: flex;
}

#footer_navbar {
    display: flex;
    justify-content: flex-end;
}

#footer_navbar a {
    margin-right: 20px;
    
}
