* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5px;
    /* border: 2px red solid; */
}

header {
    /* border: 2px blue solid; */
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav {
    /* border: 2px blueviolet solid; */
    margin: 5px;
    display: flex;
}

#header_menubar {
    height: 95px;
    background-color: slategrey
}

main {
    /* border: 2px green solid; */
    /* margin: 5px; */
    font-size: 25px;
    margin-top: 100px;
}

 footer {
    border: 2px black solid;
    margin: 5px;
    text-align: center;
    
} 


#header_link_elements{
    display: flex;
    gap: 20px;
    width: 100%;
    margin:0px;
}

.header_anchor_elements{
    width: 100%;
    /* border: 2px lightcoral solid; */
    list-style-type: none;
    padding-top: 25px;
}

#image_logobar {
    width: 150px;
    height: 95px
    
}

.header_anchor_elements a {
    text-decoration: none;
}


.footer_anchor_icons {
    display: flex;
}


#footer_navbar {
    display: flex;
    justify-content: flex-end;
}

#footer_navbar a {
    margin-right: 20px;
    
}

/* Estilo del menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    padding: 10px;
}

/* Mostrar el menú desplegable al pasar el mouse sobre el enlace "Menu" */
#menu-dropdown:hover .dropdown-menu {
    display: block;
}

.banner_drinks_image{
    background-image: url(../imagenes/menuBackgroundImage.jpg);
    height: 480px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

.banner_drinks, .banner_breakfast, .banner_lunch_dinner, .menu_breakfast_dinner_drinks {
    display: flex;
    flex-wrap: wrap;
}

.banners, .breakfast, .lunch_dinner, .menu{
    font-size: 22px;
    display: flex;
    flex: auto;
    min-height: 500px;
    align-items: center;
    width: 45%;
    flex-direction: column;
    justify-content: center;
}

.banner_breakfast_image{
    background-image: url(../imagenes/breakfastImage.jpg);
    height: 480px;
    width: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.banner_lunch_dinner_image{
    background-image: url(../imagenes/bannerLunchDinner.jpg);
    height: 480px;
    width: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.banner_menu_image{
    background-image: url(../imagenes/bannerLunchDinner.jpg);
    height: 480px;
    width: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#ourMenuWithYou{
    text-align: center;
}

#ourMenuWithYou a{
    text-decoration: none;
}

.button {
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.4px;
    background: #333;
    color: #fff;
    padding: 16px 60px 12px;
    border: 0;
    display: inline-block;
}

.banner_location_image{
    background-image: url(../imagenes/bannerLocation.jpg);
    height: 480px;
    width: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.location_container{
    display: flex;
}

.l_container{
    padding: 20px;
    text-align: center;
}

.l_container p, ul{
    padding: 20px;
}

.l_container h3, .l_container p, .l_container ul {
    text-align: left;
}

.location_iframe, .l_container{
    width: 50%;
}

.location_iframe h3, .location_iframe p{
    text-align: center;
}