* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../imagenes/fondoBlanco.jpg");
    background-repeat: repeat;
}
header {
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
nav {
    margin: 5px;
    display: flex;
}
#header_menubar {
    /* height: 95px; */
    background-color: rgb(0, 0, 0);
    margin: 0;
}
main {
    font-size: 25px;
    margin-top: 100px;    
}
#image_portadaWeb {
    margin: auto;
    text-align: center;
    width: 1000px;
    height: 600px;
}
 footer {
    border: 2px black solid;
    margin: 5px;
    text-align: center;
    background-color: black;
    color: #fff;
} 
#header_link_elements{
    display: flex;
    /* gap: 20px; */
    width: 100%;
    margin:0px;
}
.header_anchor_elements{
    width: 30%;
    list-style-type: none;
    /* padding-top: 25px; */
    text-align: center;
}
#image_logobar {
    width: 150px;
    height: 95px;
}
.header_anchor_elements a {
    text-decoration: none;
}
.footer_anchor_icons {
    display: flex;
}
#footer_navbar {
    display: flex;
    justify-content: flex-end;
}
#footer_navbar a {
    margin-right: 20px;
    
}
/* Estilo del menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color:snow;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 30px;
}
.dropdown-menu li {
    padding: 35px;
}
/* Mostrar el menú desplegable al pasar el mouse sobre el enlace "Menu" */
#menu-dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu li a {
    color: #000; /* Color de texto por defecto */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

.banner_drinks_image{
    background-image: url(../imagenes/menuBackgroundImage.jpg);
    height: 480px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.banner_drinks, .banner_breakfast, .banner_lunch_dinner, .menu_breakfast_dinner_drinks {
    display: flex;
    flex-wrap: wrap;
}
.banners, .breakfast, .lunch_dinner, .menu{
    font-size: 22px;
    display: flex;
    flex: auto;
    min-height: 500px;
    align-items: center;
    width: 45%;
    flex-direction: column;
    justify-content: center;
}
.banner_breakfast_image{
    background-image: url(../imagenes/breakfastImage.jpg);
}
.banner_lunch_dinner_image{
    background-image: url(../imagenes/bannerLunchDinner.jpg);
}
.banner_menu_image{
    background-image: url(../imagenes/bannerLunchDinner.jpg);
}
.banner_contact_image {
    background-image: url(../imagenes/contactanos.jpg);
    background-position: center center;
}
.banner_contact_image h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    font-family: "Montserrat", "sans-serif";
}

.banner_menu_image h1 {
    padding-top: 20px;
}

.banner_breakfast_image, .banner_lunch_dinner_image, .banner_menu_image, .banner_location_image, .banner_contact_image {
    height: 480px;
    width: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.menu p, .lunch_dinner p, .breakfast p, .banners p {
    padding: 20px;
}

#ourMenuWithYou{
    background-color: white;
    text-align: center;
}
#ourMenuWithYou a{
    text-decoration: none;
}
.button {
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.4px;
    background: #333;
    color: #fff;
    padding: 16px 60px 12px;
    border: 0;
    display: inline-block;
}
.banner_location_image{
    background-image: url(../imagenes/bannerLocation.jpg);
} 
.banner_location_image h1 {
    color: fuchsia;
    padding: 20px;
}
.banner_portadaWeb{
    text-align: center;
    height: 100%;
}
#imagen-portada{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
} 
#imagenes {
    width: 100%;
    transition: transform 0.3s;
}
#imagenes:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% al pasar el cursor sobre ella */
}
.location_container{
    display: flex;
}
.l_container{
    padding: 20px;
    text-align: center;
}
.l_container p, ul{
    padding: 20px;
}
.l_container h3, .l_container p, .l_container ul {
    text-align: left;
}
.location_iframe, .l_container{
    width: 50%;
}
.location_iframe h3, .location_iframe p{
    text-align: center;
    padding: 8px;
}
.text-container{
    margin-bottom: 1rem;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-formulario{
    font-size: 25px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}
.text-box{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}
#titulo-ubicacion{
    width: 100%;
    text-align: center;
    background-image: url(../imagenes/bannerLocation.jpg);
}
l_container ul li{
    padding: 5px;
}
#nosotros{
    background-color: white;
    text-align: center;
}
#titulos{
    font-size: 25px;
}
#tabla{
    margin: auto;
    text-align: left;
}
#imagenes{
    max-width: 400px;
    padding: 5px;
}
.imagenes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text-container {
    padding: 10px;
}
#footer_copyright {
    text-align: left;
    margin: 10px;
}
#banner_location_info {
    margin: 10px;
}
#banner_location_info p{
    margin: 10px;
}
#formulario_campo {
    /* margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 50%; */
    margin: 15px auto;
    text-align: center;
    width: 60%;
}
#formulario_titulo {
    margin: 15px;
}
#formulario_campo label {
    vertical-align: middle;
}
.text-box {
    vertical-align: middle;
}

/* Cambiar el color del texto de los elementos de menú en el encabezado */
.header_anchor_elements a {
    color: whitesmoke; /* Cambia el color a negro (#000) o al color que desees */
}

/* Cambiar el color al pasar el mouse por encima de los elementos de menú en el encabezado */
.header_anchor_elements a:hover {
    color: purple /* Cambia el color a purpura cuando se pasa el mouse por encima */
}

.dropdown-menu li a:hover {
    color: purple;
}

